### This notebook is going to be used for Capstone Project!

In [1]:
import pandas as pd
import numpy as np
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

# Question 1

### Reading html format using pandas

In [2]:
url = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", header = 0)

In [3]:
len(url)

3

In [4]:
df = url[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [5]:
df.shape

(180, 3)

### Checking NaN values in Borough feature

In [6]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(df['Borough'].unique()),
        df.shape[0]
    )
)

The dataframe has 11 boroughs and 180 neighborhoods.

In [7]:
df['Borough'].unique()

array(['Not assigned', 'North York', 'Downtown Toronto', 'Etobicoke',
       'Scarborough', 'East York', 'York', 'East Toronto', 'West Toronto',
       'Central Toronto', 'Mississauga'], dtype=object)

In [8]:
df[df.Borough=='Not assigned'].count()

Postal Code     77
Borough         77
Neighborhood     0
dtype: int64

### Drop Borough Nan feature values

In [9]:
df = df.drop(df[df.Borough=='Not assigned'].index)

In [10]:
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Combining Neighborhood

In [11]:
grouped = df.groupby(['Postal Code','Borough','Neighborhood']).size().reset_index()
grouped.drop(columns=[0],inplace =True)

In [12]:
grouped['Neighborhood'].isnull().values.any()

False

In [13]:
type(grouped)

pandas.core.frame.DataFrame

### Clean Notebook

In [14]:
grouped.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

## .shape

In [15]:
grouped.shape

(103, 3)

In [16]:
### This

# Question 2

In [17]:
grouped.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

### There was a problem with geocoder library so I used the  provided csv file link.

In [18]:
read_file = pd.read_csv('https://cocl.us/Geospatial_data')

In [19]:
read_file.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [20]:
read_file.shape

(103, 3)

### The shape of grouped and read_csv dataframes are same

### Check whether the elements are same in both dataframes

In [21]:
lister = list(grouped['Postal Code']==read_file['Postal Code'])
False in lister

False

In [22]:
read_file.drop(columns='Postal Code', inplace = True)

In [23]:
df2 = pd.concat([grouped, read_file],axis=1, sort =False)

## Required Dataframe

In [24]:
df2.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476