### This notebook is going to be used for Capstone Project!

In [9]:
import pandas as pd
import numpy as np
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

### Reading html format using pandas

In [10]:
url = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", header = 0)

In [11]:
len(url)

3

In [12]:
df = url[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [13]:
df.shape

(180, 3)

### Checking NaN values in Borough feature

In [14]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(df['Borough'].unique()),
        df.shape
    )
)

The dataframe has 11 boroughs and (180, 3) neighborhoods.

In [15]:
df['Borough'].unique()

array(['Not assigned', 'North York', 'Downtown Toronto', 'Etobicoke',
       'Scarborough', 'East York', 'York', 'East Toronto', 'West Toronto',
       'Central Toronto', 'Mississauga'], dtype=object)

In [16]:
df[df.Borough=='Not assigned']

    Postal Code       Borough Neighborhood
0           M1A  Not assigned          NaN
1           M2A  Not assigned          NaN
7           M8A  Not assigned          NaN
10          M2B  Not assigned          NaN
15          M7B  Not assigned          NaN
16          M8B  Not assigned          NaN
19          M2C  Not assigned          NaN
24          M7C  Not assigned          NaN
25          M8C  Not assigned          NaN
28          M2E  Not assigned          NaN
29          M3E  Not assigned          NaN
33          M7E  Not assigned          NaN
34          M8E  Not assigned          NaN
35          M9E  Not assigned          NaN
37          M2G  Not assigned          NaN
38          M3G  Not assigned          NaN
42          M7G  Not assigned          NaN
43          M8G  Not assigned          NaN
44          M9G  Not assigned          NaN
51          M7H  Not assigned          NaN
52          M8H  Not assigned          NaN
53          M9H  Not assigned          NaN
60          M7J  Not assigned          NaN
61          M8J  Not assigned          NaN
62          M9J  Not assigned          NaN
69          M7K  Not assigned          NaN
70          M8K  Not assigned          NaN
71          M9K  Not assigned          NaN
78          M7L  Not assigned          NaN
79          M8L  Not assigned          NaN
..          ...           ...          ...
132         M7T  Not assigned          NaN
133         M8T  Not assigned          NaN
134         M9T  Not assigned          NaN
136         M2V  Not assigned          NaN
137         M3V  Not assigned          NaN
140         M6V  Not assigned          NaN
141         M7V  Not assigned          NaN
145         M2W  Not assigned          NaN
146         M3W  Not assigned          NaN
149         M6W  Not assigned          NaN
150         M7W  Not assigned          NaN
154         M2X  Not assigned          NaN
155         M3X  Not assigned          NaN
158         M6X  Not assigned          NaN
159         M7X  Not assigned          NaN
161         M9X  Not assigned          NaN
162         M1Y  Not assigned          NaN
163         M2Y  Not assigned          NaN
164         M3Y  Not assigned          NaN
166         M5Y  Not assigned          NaN
167         M6Y  Not assigned          NaN
170         M9Y  Not assigned          NaN
171         M1Z  Not assigned          NaN
172         M2Z  Not assigned          NaN
173         M3Z  Not assigned          NaN
174         M4Z  Not assigned          NaN
175         M5Z  Not assigned          NaN
176         M6Z  Not assigned          NaN
177         M7Z  Not assigned          NaN
179         M9Z  Not assigned          NaN

[77 rows x 3 columns]

In [17]:
len(df[df.Borough=='Not assigned'])

77

### Drop Borough Nan feature values

In [18]:
df = df.drop(df[df.Borough=='Not assigned'].index)

In [19]:
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Combining Neighborhood

In [20]:
#df['Neighborhood'].value_counts()
grouped = df.groupby(['Postal Code','Borough','Neighborhood']).size().reset_index()
grouped.drop(columns=[0],inplace =True)

In [24]:
grouped['Neighborhood'].isnull().values.any()

False

In [25]:
type(grouped)

pandas.core.frame.DataFrame

In [26]:
grouped.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [23]:
grouped.shape

(103, 3)